/* post card */
.postInfoCard {
  position: relative;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 1rem;
  background: #001219;
  border-radius: 10px;
}
.deletePostBtn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  background-color: #000000;
  color: #37e710;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  height: 40px;
  padding: 0 20px;
  top: 10px;
}
.deletePostBtn img {
  width: 20px;
}
/* .card_content */
.card_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* post card header */

.postCardHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userProfileBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.postCardHeader img {
  border-radius: 50%;
}
.orderButton {
  align-self: flex-end;
  width: fit-content;
  padding: 0 20px;
  height: 40px;
  border-radius: 30px;
  background-color: #000000;
  font-size: 15px;

  border: 1px solid #37e710;
  color: #37e710;

  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #37e710;
}

/* card title */
.cardTitleWrapper {
  width: 100%;
  text-align: start;
}
.cartTitle {
  font-family: "Poppins";
  font-style: normal;
  text-align: start;
  font-weight: 700;
  font-size: 19px;
  /* identical to box height, or 161% */

  letter-spacing: -0.312px;

  color: #37e710;
}

/* card content top */

.cardContentTop {
  display: flex;
  justify-content: space-between;
}
.infoLeft {
  text-align: start;
}
.infoRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  text-align: end;
}
.infoRightVBTInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.infoRightVBTInfo img {
  width: 20px;
}
.cardInfoBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cardInfoBox {
  font-size: 13px;
}
.websiteInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cardContentBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.websiteUrl {
  color: #37e710;
}
.websiteText {
  font-family: "poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #b1b1b1;
}
.priceText {
  color: #37e710;
}
.replyQuoteBox {
  width: 100%;
  text-align: start;
}
.replyQuoteBtn {
  width: fit-content;
  padding: 0 15px;
  height: 40.08px;
  cursor: pointer;
  color: #f8fff6;
  background: #000000;
  border: 1px solid #37e710;
  border-radius: 36px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.replyBtnVBTtext {
  display: flex;
  align-items: center;
  gap: 10px;
}
.replyQuoteBtn span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  /* or 146% */

  text-align: center;
  letter-spacing: -0.24px;
  color: #ffffff;
}

.replyBtnVBTtext span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  /* or 158% */

  text-align: center;
  letter-spacing: -0.24px;
  color: #ffb800;
}
.replyBtnVBTtext img {
  width: 20px;
}
