.mypost {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
.myPostItem {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.postItemWrapper {
  position: relative;
  display: flex;
  width: 861px;
  height: auto;
}
.postWrapperArrows {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.postWrapperArrows {
  cursor: pointer;
}
.postHeaderTopic {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.postHeaderTopic h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  /* identical to box height */

  letter-spacing: 0.11em;

  color: #37e710;
}
.postheaderHrLine {
  flex: 1;
  height: 2px;
  background: #37e710;
}
