.new_shop_item {
  transition: all 1s;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(100px);
  width: 100%;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  background: linear-gradient(to bottom, #060c0941, #06130cb1);
  cursor: pointer;
  transition: all 0.3s ease-in;
}
/* .new_shop_item:hover {
  scale: 1.03;
  background: linear-gradient(to bottom, #060c09ba, #0b2417);
} */
.shop_sub_item {
  display: flex;
  gap: 8px;
}
.shop_sub_item p {
  letter-spacing: 1px;
  font-weight: bold;
}
.shop_sub_item p:nth-of-type(1) {
  color: #37e710;
}
.shop_sub_item input {
  border: none;
  outline: none;
  background-color: transparent;
  letter-spacing: 1px;
  color: grey;
  font-size: 11px;
}
.shop_sub_item input::placeholder {
  color: grey;
  font-size: 11px;
}
.new_shop_item_details {
  width: 100%;
  background: #001219;
}
.item_content {
  height: 200px;
  padding: 10px;
}
.image_side {
  flex: 5;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.image_box_wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.image_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.image_side .image_content p {
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
}
.image_side img {
  width: 40%;
  border-radius: 3px;
  object-fit: cover;
}
.right_content_wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  flex: 7;
}
.right_content_side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.right_content_side p {
  text-align: start;
  font-size: 12px;
}
.right_content_side input {
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
  padding: 5px 0px;
  color: grey;
  font-size: 10px;
  letter-spacing: 1px;
}
.right_content_side p:nth-of-type(1) {
  color: #37e710;
  letter-spacing: 1px;
}
.new_shop_item_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}
.item_top_content {
  height: 100%;
  display: flex;
}
.new_shop_item_buttons button {
  width: fit-content;
  padding: 0 15px;
  border-radius: 5px;
  height: 38px;
}
.saveProduct {
  background-color: #37e710;
}
.deleteProduct {
  background-color: white;
  color: red;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid red;
}
