.singlePost {
  display: flex;

  width: 100%;
  height: 100%;
  padding: 2rem;
}
.postHeader {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.postTitle {
  font-family: "Poppins";
  font-style: normal;
  text-align: start;
  font-weight: 700;
  font-size: 35px;
  /* or 168% */

  letter-spacing: -0.24px;
  text-transform: uppercase;

  color: #37e710;
}
.imageSlider {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 600px;
}

.leftContent {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.leftContent_header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.rightContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 4;
}
.postDetailsHeader {
  display: flex;
  padding: 0 10px;
}
.postDetailsBack {
  font-size: 13px;
  color: #37e710;
  cursor: pointer;
  flex: 4;
  text-align: start;
}
.detailsBox {
  flex: 8;

  display: flex;
  justify-content: end;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
}
.postDetailsHeaderItem {
  line-height: 20px;
}
.postDetailsHeaderItem span {
  font-size: 12px;
}
.postDetailsKey {
  color: #37e710;
}

/* post description */
.postDescription {
  font-family: "Poppins";
  word-break: break-all;
  font-style: normal;
  text-align: start;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  /* or 119% */

  letter-spacing: -0.24px;

  color: #ffffff;
}
.infoLeftItem span:nth-of-type(1) {
  color: #37e710;
  margin-right: 5px;
}
/* /* fadeOrderBtn */
.fadeBtn {
  opacity: 0.4;
  pointer-events: none !important;
}
