* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "poppins";
}

.catBannerBtnWrapper {
  border: 1px solid #c1c1c142 !important;
}
button {
  border: none;
  outline: none;
}

.slick-track {
  opacity: 1;
  height: 240px !important;
}
.slick-slide a {
  color: inherit;
}
button {
  cursor: pointer;
}

:root {
  --orangeText: #ffb800;
}

.App {
  text-align: center;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.slick-slide {
  height: auto !important;
}
a {
  color: inherit !important;
}
.chakra-modal__content-container {
  z-index: 1111 !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.slick-slider {
  width: 100% !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
